/* graph_style.css */
body {
    background-color: rgb(15, 15, 73);
    margin : 0%;
}

.extent{
    fill: rgba(200, 200, 209,0.3);
}

rect {
    fill: rgb(15, 15, 73);
}

.scroll{
    width:100%;
    height: 100%;
    overflow:auto;
    -ms-overflow-style: none; /* Hide scrollbar for Chrome, Safari and Opera */
    color: yellow;
    font-size: 110%;
}

/* Hide scrollbar for IE and Edge */
.scroll::-webkit-scrollbar {
    display: none;
}

#graphFrame{
    display: inline-flex;
    width: 100%;
}

#Overlay{
    width: 20%;
    height: 100%;
    background: none;
    margin : 0.5%;
    pointer-events:none;
}

.Panel{
    width: 100%;
    height: fit-content;
    pointer-events:auto;
    color : white;
    background: rgba(184, 184, 184, 0.473);
    padding: 0.5%;
    margin-bottom: 2%;
}

#scrollPanel{
    display: none;
    height: 5%;
}

.PanelHeader{
    font-size: large;
    font-weight: bold;
    text-align: center;
}


.PanelContent th {
    padding : 3%;
}

.PanelContent th:nth-child(1) {
    text-align: left;
}

.PanelContent th:nth-child(2) {
    text-align: right;
}

.PanelContent td:nth-child(2) {
    text-align: right;
}


#AlgorithmPanelContent{
    width: 100%;
}

#AlgorithmPanelContent button{
    width: 100%;
}

p {
    margin: 1%;
    width:max-content;
}

#groupList{
    text-align-last:right;
    direction: rtl;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
    z-index: 100;
}

text {
    fill: white;
}

.link {
    opacity: .6;
    fill:rgba(255, 255, 255, 0);
}

.loop{
    opacity: .6;
    fill:rgba(255, 255, 255, 0);
}


marker {
    fill: #bbb;
}

#redraw {
    width: 100%;
    background-color: lightblue;
    height: 30px;
}