/* graph_style.css */
body {
    background-color: rgb(15, 15, 73);
}

rect {
    fill: rgb(15, 15, 73);
}

#Overlay{
    position: absolute;
    background: none;
    z-index: 10;
    margin : none;
}

#commandList, #groupPanel{
    color : white;
    background: rgba(184, 184, 184, 0.473);
    padding: 5%;
    width : fit-content;
}

#groupPanel{
    margin-top: 5%;
}

#commandList th:nth-child(1) {
    text-align: left;
}
#commandList th:nth-child(2) {
    text-align: right;
}
#commandList td:nth-child(2) {
    text-align: right;
}

#commandTable{
    display:none;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    fill: white;
}

.link {
    opacity: .6;
    fill:rgba(255, 255, 255, 0);
}

.loop{
    opacity: .6;
    fill:rgba(255, 255, 255, 0);
}


marker {
    fill: #bbb;
}